<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css">
    <link rel="icon" href="../static/images/icon.png" />
    <script type="text/javascript" src="../static/scripts/2-hbnb.js"></script>
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <div id="api_status"></div>
    </header>
    <!-- The rest of your content remains unchanged -->
  </body>
</html>
